{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'js/highstock.js'  %}"></script>
<script type="text/javascript">
var chart_data = {{ chart|safe }}

    $(function() {
       for (index = 0; index < chart_data.length; ++index) {
            chart_data[index][0] = parseInt(chart_data[index][0] + '000');
        }

            console.log(chart_data);
            // create the chart
            $('#container').highcharts('StockChart', {


                rangeSelector : {
                    inputEnabled: $('#container').width() > 480,
                    selected : 1
                },

                title : {
                    text : 'Notowania'
                },

                series : [{
                    type : 'candlestick',
                    name : 'Notowania',
                    data : chart_data,
                    dataGrouping : {
                        units : [
                            ['week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]]
                        ]
                    }
                }]
            });

    });
</script>
{% endblock %}
{% block content %}
<div id='container'></div>
{% endblock %}
